.mainLabel {
    margin-left: 30%;
    color: #ff00ba;
    font-size: 40px;
    font-style: italic;
}

.timetableTable {
    border-color: #ff9eed;
    border-style: ridge;
    border-radius: 20px;
    border-width: 10px;
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.timetableTableHeader {
    font-size: 20px;
    padding: 10px;
    color: #ba63bf;
}

.timetableTableBody {
    color: #d018c0;
    text-align: center;
    font-size: 18px;
}